.initialize-table {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.initialize-form {
    width: 80%;
    max-width: 360px;
    height: auto;
    margin: auto;
    display: inline-block;
}

.welcome-div {
    margin: 5% 10% 5% 10%;
}

.welcome-title {
    font-size: 20px;
}

.welcome-content {
    font-size: 12px;
    color: gray;
}

.init-div {
    margin: 5% 20% 5% 20%;
    padding: auto 20% auto 20%;
}

.input-explaination-font {
    font-size: 12px;
    color: gray;
}

.init-input {
    text-align: left;
    display: block;
    vertical-align: baseline;
}

.init-submit {
    margin-top: 8px;
    width: 100%;
}
