.nav-login-buttons {
    display: flex;
    margin: auto 4px auto auto;
    text-align: center;
    width: auto;
    height: 24px;
    line-height: 24px;
}

.nav-login-button {
    margin: auto 2px auto 2px;
}

.login-explaination {
    font-size: 12px;
}

.login-button {
    margin-top: 8px;
}
