.nav-login-hide-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    z-index: 2000;
}

.nav-login-form {
    position: absolute;
    width: 80%;
    max-width: 360px;
    height: 240px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 3000;
    text-align: center;
}

.nav-login-buttons {
    display: flex;
    margin: auto 4px auto auto;
    text-align: center;
    width: auto;
    height: 24px;
    line-height: 24px;
}

.nav-login-button {
    margin: auto 2px auto 2px;
}

.login-message-div {
    padding-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.login-explaination {
    font-size: 12px;
    text-align: left;
    display: block;
    vertical-align: baseline;
}

.login-input {
    width: 100%;
    height: 24px;
    margin-bottom: 8px;
    text-indent: 4px;
}

.login-button {
    margin-top: 8px;
}
