{{ define "dashboard" }}
    <script src='/static/js/dashboard-render.js'></script>
    <div id='steps' style='display: none; border: 1px solid black;'>
        <select id='step_s' name='step_s'>
            <option id='step_ot' value='step_ot'>Text</option>
            <option id='step_oi' value='step_oi'>Image</option>
            <option id='step_of' value='step_of'>File</option>
            <option id='step_oc' value='step_oc'>Code</option>
        </select>
        <div id='step_tt' style='display: none;'>
            <span>Text</span><br>
            <textarea name='step_ti'></textarea>
        </div>
        <div id='step_ii' style='display: none;'>
            <span>Image</span><br>
            <iframe name='step_i_f' frameborder='0' height='0'></iframe>
            <form action='upload_images' enctype='multipart/form-data' method='POST'>
                <input name='step_i_i' type='file' accept='image/*' /><br>
                <a>Submit</a>
            </form>
            <input id='step_i_name' name='step_ii_ii' style='display: none;' />
        </div>
        <div id='step_ff' style='display: none;'>
            <span>File</span><br>
            <iframe name='step_f_f' frameborder='0' height='0'></iframe>
            <form action='upload_files' enctype='multipart/form-data' method='POST'>
                <input name='step_f_i' type='file' multiple='multiple' /><br>
                <a>Submit</a>
            </form>
            <input id='step_f_name' name='step_ff_fi' style='display: none;' />
        </div>
        <div id='step_cc' style='display: none;'>
            <span>Code</span><br>
            <textarea name='step_ci'></textarea>
        </div>
        <a id='step_r'>Remove</a>
    </div>
    <form action='create?module={{ .ModuleData.ModuleId }}' method='POST'>
        <p>Title</p>
        <input id='create_title' name='create_title' />
        <p>Content</p>
        <span>Last id: <input id='steps_last_id' value='0' style='display: none;' /></span><br>
        <div id='steps_group'>
        </div>
        <a href='javascript:addStep();'>Add content</a>
        <input type='submit' value='submit' />
    </form>
{{ end }}
