<html>
<head>
    <title>BlogKit - Initialize</title>
    <link rel='stylesheet' href='static/css/initialize.css' type='text/css' />
    <link rel='stylesheet' href='static/css/generic.css' type='text/css' />
</head>
<body class='body-expanded'>
    <div class='back-generic'>
        <div class='initialize-table'>
            <form class='board-generic initialize-form' action='initialize' method='POST'>
                <div class='welcome-div'>
                    <span class='generic-font-bold welcome-title'>Welcome to Blog Kit.</span><br>
                    <span class='generic-font welcome-content'>Please set mail address, user name and password for admin user.</span>
                </div>
                <hr>
                <div class='init-div'>
                    <span class='generic-font board-explaination input-explaination-font'>Mail</span>
                    <input class='input-generic board-input init-input generic-font' name='init_mail' />
                    <span class='generic-font board-explaination input-explaination-font'>Username</span>
                    <input class='input-generic board-input init-input generic-font' name='init_name' />
                    <span class='generic-font board-explaination input-explaination-font'>Password</span>
                    <input class='input-generic board-input init-input generic-font' name='init_password' type='password' />
                    <span class='generic-font board-explaination input-explaination-font'>Confirm</span>
                    <input class='input-generic board-input init-input generic-font' name='init_confirm' type='password' />
                    <button class='button-generic init-submit generic-font'>Continue</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
