<html>
<head>
    <title>BlogKit</title>
    <link rel='stylesheet' href='static/css/generic.css' type='text/css' />
    <link rel='stylesheet' href='static/css/user.css' type='text/css' />
    <link rel='stylesheet' href='static/css/page.css' type='text/css' />
</head>
<body class='body-expanded'>
    <div class='back-generic'>
        <div class='nav-bar-top'>
            {{ template "user" .LoginData }}
        </div>
        <div class='module-display'>
            {{ template "module" . }}
        </div>
    </div>
</body>
</html>
