{{ define "user" }}
    <link rel='stylesheet' href='static/css/generic.css' type='text/css' />
    <link rel='stylesheet' href='static/css/user.css' type='text/css' />
{{ if .IsLogin }}
    <div class='nav-login-buttons'>
        {{ $user := index .Users .LoginId }}
        <span class='generic-font-bold'>{{ $user.Name }}</span>
        <button class='generic-font button-generic nav-login-button' type='button' onclick='window.location.href="logout";'>logout</button>
    </div>
{{ else }}
    <script src='/static/js/user.js'></script>
    <div id='loginHideBg' class='board-hide-bg' style='display: none;'></div>
    <form id='loginUnit' class='board-generic board-form' style='display: none;' action='login' method='POST'>
        <div class='board-message-div'>
            <span class='generic-font board-explaination login-explaination'>Username:</span>
            <input id='login-username' class='generic-font input-generic board-input' name='login_username' />
            <span class='generic-font board-explaination login-explaination'>Password:</span>
            <input id='login-password' class='generic-font input-generic board-input' name='login_password' type='password' />
            <div>
                <button class='generic-font button-generic login-button' type='submit'>Login</button>
                <button class='generic-font button-generic login-button' type='button' onclick='hideLogin("loginUnit", "loginHideBg");'>Close</button>
            </div>
        </div>
    </form>
    <div class='nav-login-buttons'>
        <button class='generic-font button-generic nav-login-button' type='button' onclick='showLogin("loginUnit", "loginHideBg", "login-username", "login-password");'>Login</button>
        <button class='generic-font button-generic nav-login-button' type='button'  onclick='window.location.href="signup";'>SignUp</button>
    </div>
{{ end }}
{{ end }}
